@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&family=Nunito+Sans&family=Pridi:wght@200&display=swap');

:root {
    --font-headMain: 'Gentium Book Basic', serif;
    --font-headSub: 'Nunito Sans', sans-serif;
    --font-regular: 'Pridi', serif;
    --bg-rad-kale:  radial-gradient(circle, rgba(0,201,255,0.3) 0%, rgba(146,254,157,0.3) 100%);
    --bg-rad-retro: radial-gradient(circle, rgba(34,193,195,0.6) 0%, rgba(253,187,45,0.6) 100%);
    --bg-rad-cucumb: radial-gradient(circle, rgb(217, 231, 255, 0.9) 0%, rgb(227, 255, 231, 0.9) 100%);
    --bg-linG-kale: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    --bg-linG-cucumb: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    --bg-linG-retro: linear-gradient(90deg, rgba(253, 187, 45, .4) 0%, rgba(34, 193, 195, .4) 100%);
    --color-blueKale:  #00C9FF;
    --color-greenKale: #92FE9D;
    --color-greenCucumb: #e3ffe7;
    --color-blueCucumb: #d9e7ff;
    --color-blueRetro: #22C1C3;
    --color-orangeRetro: #FDBB2D;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-regular);
}
/* --- Header/nav styles --- */

header {
    font-size: 2.5rem;
    min-height: 10rem;
    font-family: var(--font-headMain);
}

.headerDiv {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
}

.headerDiv > span {
    align-self: center;
    margin: 1.5rem;
}

.subHead {
    display: flex;
    gap: .5rem;
}

.searchBar {
    height: fit-content;
    font-size: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border-radius: 20px;
    border-color: var(--color-blueCucumb);
    margin-top: .4rem;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 50%;
}

/* --- Main body styles --- */

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: .5rem 2rem;
}

/* ------------- Form styles ------------------------- */

.formTitle {
    display: flex;
    justify-content: space-between;
}

.addProject {
    width: 100%;
    font-size: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border-radius: 20px;
    border-color: var(--color-blueCucumb);
    margin-top: .4rem;
}

button {
    border-radius: 20px;
    background-color: var(--color-blueCucumb);
    border: none;
    font-size: 1.1rem;
    padding: .5rem 1.5rem;
}

form>div {
    margin: 1.5rem 0;
}

input {
    height: fit-content;
    font-size: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border-radius: 20px;
    border-color: var(--color-blueCucumb);
    margin-top: .4rem;
    width: 90%;
}

.dueDateInput {
    text-align: center;
}

.listContainer {
    display: flex;
}

.priorityContainer {
    text-align: center;
    margin-bottom: 0;
}

.priorityDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
}

.priorityRange {
    width: 50%;
}

.submitButtonDiv {
    display: flex;
    justify-content: flex-end;
}

/* -------------- Project Display cards ------------ */

.projectName {
    font-size: 1.8rem;
    font-family: var(--font-headSub);
    margin-left: 1rem;
}

.projectHead {
    position: relative;
    padding: .5rem 0;
}

.startDate {
    position: absolute;
    right: 0;
    top: 0;
    font-size: .9rem;
    text-align: center;
    line-height: 1.1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0rem .5rem 1rem 1.2rem;
}

.listDescription {
    display: flex;
    justify-content: center;
    overflow:scroll;
}

.todoDiv {
    display: flex;
    justify-content: center;
    padding: .5rem 0;
}

.lowP {
    background-color: var(--color-greenCucumb);
    border-radius: 20px;
    margin-bottom: 1rem;
}

.midP {
    background-color: var(--color-blueCucumb);
    border-radius: 20px;
    margin-bottom: 1rem;
}

.highP {
    background-color: rgba(204, 6, 15, 0.3);
    border-radius: 20px;
    margin-bottom: 1rem;
}

.todoDiv, .listContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0rem .5rem;
}

.listInput {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.todoButton {
    background-color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#todoButton1 {
    background-color: var(--color-blueCucumb);
    border: 1px solid var(--color-blueCucumb);
}

.todoList>li {
    list-style-type:circle;
    font-size: 1.1rem;
    font-weight: 500;
}

.projectFoot {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}

.deleteButton {
    background-color: var(--color-greenCucumb);
}

.returnList {
    width: 50%;
}

.deleteButton>img {
    width: 1rem;
}

/* Footer styles */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6rem;
}

.footInfo {
    align-self: center;
}

.addTaskButton {
    justify-content: center;
    border-radius: 50%;
    font-size: 2.5rem;
    padding: .2rem;
    background-color: var(--color-blueRetro);
    border: none;
    margin-bottom: 2rem;
}


/* --- burger menu CSS */

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: var(--color-blueCucumb);
    /* margin: 1rem 1rem 0 0; */
    position: relative;
    border-radius: 20px;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #burgerLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: black;
    padding: .5rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    display: block;
    padding-left: 1.8rem;
  }
  
  /* Style the hamburger menu */
  .topnav a.burgerIcon {
    background: var(--color-greenKale);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    border-bottom-left-radius: 20px;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: var(--color-greenCucumb);
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: var(--color-blueCucumb);
    color: black; 
  }