@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&family=Nunito+Sans&family=Pridi:wght@200&display=swap');

:root {
    --font-headMain: 'Gentium Book Basic', serif;
    --font-headSub: 'Nunito Sans', sans-serif;
    --font-regular: 'Pridi', serif;
    --bg-rad-retro: radial-gradient(circle, rgba(34,193,195,0.6) 0%, rgba(253,187,45,0.6) 100%);
    --color-greenKale: #92FE9D;
    --color-greenCucumb: #e3ffe7;
    --color-blueCucumb: #d9e7ff;
    --color-lightRed: rgba(204, 6, 15, 0.3);
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-regular);
}

/* --- Header/nav styles --- */
header {
    font-size: 2.5rem;
    min-height: 10rem;
    font-family: var(--font-headMain);
}

.headerDiv {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
}

.headerDiv > span {
    align-self: center;
    margin: 1.5rem;
}

.subHead {
    display: flex;
    flex-direction: column;
}

.searchBar {
    height: fit-content;
    font-size: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border-radius: 20px;
    border-color: var(--color-blueCucumb);
    width: 100%;
}

.searchBar::placeholder {
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 50%;
}

/* --- Main body styles --- */
main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: .5rem 2rem;
}

.startPage {
    font-size: 1.5rem;
    white-space: pre-wrap;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
    font-weight: 570;
}

/* ------------- Form styles ------------------------- */
.formTitle {
    display: flex;
    justify-content: space-between;
}

.addProjectButton {
    align-self: start;
}

button {
    border-radius: 20px;
    background-color: var(--color-blueCucumb);
    border: none;
    font-size: 1.1rem;
    padding: .5rem 1.5rem;
}



form>div {
    margin: 1.5rem 0;
}

input {
    height: fit-content;
    font-size: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border-radius: 20px;
    border-color: var(--color-blueCucumb);
    margin-top: .4rem;
    width: 90%;
}

.dueDateInput {
    text-align: center;
}

.listContainer {
    display: flex;
}

.priorityContainer {
    text-align: center;
    margin-bottom: 0;
}

.priorityDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
}

.priorityRange {
    width: 50%;
}

.submitButtonDiv {
    display: flex;
    justify-content: flex-end;
}

/* -------------- Project Display cards ------------ */
.hiddenDiv {
    display: none;
}

.projectName {
    font-size: 1.8rem;
    font-family: var(--font-headSub);
    margin-left: 2.2rem;
    word-wrap: break-word;
    margin-right: 5.5rem;
}

.projectHead {
    position: relative;
    padding: .5rem 0;
}

.startDate {
    position: absolute;
    right: 0;
    top: 0;
    font-size: .9rem;
    text-align: center;
    line-height: 1.1;
    margin: .5rem .5rem 0 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0rem .5rem 1rem 1.2rem;
}

.listDescription {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.todoDiv {
    display: flex;
    justify-content: center;
    padding: .5rem 0;
}

.lowP {
    background-color: var(--color-greenCucumb);
    border-radius: 20px;
    margin-bottom: 1rem;
}

.midP {
    background-color: var(--color-blueCucumb);
    border-radius: 20px;
    margin-bottom: 1rem;
}

.highP {
    background-color: var(--color-lightRed);
    border-radius: 20px;
    margin-bottom: 1rem;
}

.todoDiv, .listContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0rem .5rem;
}

.listInput {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.todoButton {
    background-color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#todoButton1 {
    background-color: var(--color-blueCucumb);
    border: 1px solid var(--color-blueCucumb);
}

.todoList {
    margin-top: 1rem;
}

.todoList>li {
    position: relative;
    list-style-type:circle;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: .8rem;
    word-wrap: break-word;
}

.deleteItem {
    position: absolute;
    right: 0;
    font-size: 1.5rem;
    padding: 0;
    background: none;
    color: red;
}

.footDiv {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}

.deleteButton {
    background: none;
}

.returnList {
    width: 50%;
}

.deleteButton>img {
    width: 1.8rem;
}

.priorityButton {
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: .5rem 1.5rem;
    background-color: white;
    margin-left: .1rem;
    background: var(--bg-rad-retro);
}

.sliderDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

.sliderDiv>.priorityRange {
    width: 40%;
}

.changeButton {
    font-size: .9rem;
    padding: .5rem 1rem;
    background-color: white;

}

/* Footer styles */
.clearLocal {
    align-self: center;
    bottom: 2rem;
    margin-top: 2rem;
    background-color: var(--color-lightRed);
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6rem;
}

.footInfo {
    align-self: center;
}

/* --- search hide divs ---*/
.hideSearch {
    display: none;
}

/* --- burger menu CSS */
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: var(--color-blueCucumb);
    position: relative;
    border-radius: 20px;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #burgerLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: black;
    padding: .5rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: var(--font-headSub);
    display: block;
    padding-left: 1.8rem;
  }
  
  /* Style the hamburger menu */
  .topnav a.burgerIcon {
    background: var(--color-greenKale);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    border-bottom-left-radius: 20px;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: var(--color-greenCucumb);
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: var(--color-blueCucumb);
    color: black; 
  }